/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 nav h1{
    color: red;
    text-decoration: none;
 }

 .nav-bar {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      width: auto;
      position: fixed;
      top: 0; 
      width: 98%;
      text-decoration: none;

 }

 #signinbtn {
   background-color: red;
   color: white;
   font-size: 16px;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   align-self: center;
   margin-right: 20px; 
   border-radius: 10%;
   font-family: Arial, Helvetica, sans-serif;

 }

 /* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */
#logo {
   margin-left: 20px;
   margin-top: 13px;

}

 /* .nav-bar {
   text-decoration: none;
} */


 .mid {

   text-align: center;
   height: auto;
   width: 500px;
   margin: auto;
   margin-top: 200px;
   margin-bottom: 300px;


 }

.demo-btn {
    background-color: red;
    color: white;
    width: 200px;
    height: 50px;
    font-weight: bold;
    border-radius: 10%;
    font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
 }

 
 main {
   background-image: url(Netflix-Background.jpg);
   position: absolute;
   top: 0; 
   left: 0; 
   right: 0;
   bottom: 0;

   min-width: 100%;
   height: 1000px;
 }
   

/* 
.splash {
    height: 2000px;
    width: 100%;
  
 } */

 .span {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
 }

 .span p {
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
 }

 #signup-link {
    margin-left: 5px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
 }

 .mid h2 {
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
  
 }


 .mid h3 {
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
 }


 .login-form {
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    height: 500px;
    width: 365px;
    background-color: black;
    opacity: .8;
    margin: auto;
    margin-top: 10px;
    color: white;
    border-radius: 2%;
    font-size: 24px;
    box-sizing: content-box;
    padding-left: 70px;
    padding-right: 15px;
    padding-bottom: 30px;
   align-items: left;
   font-family: Arial, Helvetica, sans-serif;
 }


 .login-form input {
    height: 50px;
    width: 300px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
   
 }

 .login-form button {
   background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 10%;
    font-size: 30px;
   height: 50px;
    width: 300px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
 }

 
 
 .login-span {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    
   }

   .login-span p {
      color: gray;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;


   }

   #span-link {
      color:white;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      margin-left: 5px;

   }

   .signup-form {
      display: flex;
      /* justify-content: space-around; */
      flex-direction: column;
     /* height: 500px; */
      width: 450px;
      height: fit-content;
      background-color: black;
      opacity: .8;
      margin: auto;
      margin-top: 10px;
      color: white;
      padding: 20px;
      border-radius: 2%;
      font-size: 24px;
      box-sizing: border-box;
      padding-left: 70px;
      padding-right: 15px;
      padding-bottom: 100px;
      align-items: left;
      font-family: Arial, Helvetica, sans-serif;
   }

   .signup-form input {
    height: 50px;
    width: 300px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
   
 }

 .signup-form button {
   background-color: red;
   color: white;
   font-weight: bold;
   border-radius: 10%;
   font-size: 30px;
   height: 50px;
   width: 300px;
   margin-top: 40px;
   font-family: Arial, Helvetica, sans-serif;
 }

  #logout-btn {
   background-color: red;
   color: white;
   font-size: 16px;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   align-self: center;
   margin-right: 20px; 
   border-radius: 10%;
   font-family: Arial, Helvetica, sans-serif;

 }

 .logout-nav {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      width: auto;
      position: fixed;
      top: 0; 
      width: 98%;
 }

 .video h1 {
    color: teal;
    text-align: center;
    margin-top: 200px;
    font-size: 72px;
 }

 #errors {
   font-size: 14px;
   color: red;
   list-style: none;
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;


 }

 /* #errors li {
    margin-left: 0;
    text-align: left;
 } */

 

.tv {
   font-family: Arial, Helvetica, sans-serif;

   border-top: 4px solid gray;
   border-bottom: 4px solid gray;
   background-color: black;
   width: 100%;
   height: 250px;
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding-top: 50px;
   margin-top: 0;

    
} 


.tv-text {
   display: flex;
   flex-direction: column;
   justify-content: left;
   /* width: 300px; */
}
.tv h2 {
   color: white;
   text-align: left;
   width: 400;
   font-size: 34px;
   margin-bottom: 0;
}

.tv p {
   color: white;
   text-align: left;
   width: 400px;
   font-size: 24px;
   margin-bottom: 30px;

}


.phone {
   font-family: Arial, Helvetica, sans-serif;

   border-bottom: 4px solid gray;
   background-color: black;
   width: 100%;
   height: 250px;
   position: relative;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-around;
   padding-top: 50px;

} 




.phone-text {
   display: flex;
   flex-direction: column;
 
 
}
.phone h2 {
   color: white;
   text-align: left;
   width: 400;
   font-size: 34px;
   margin-bottom: 0;
   
}

.phone p {
   color: white;
   text-align: left;
   width: 400px;
   font-size: 24px;
  
}

.watch {
   font-family: Arial, Helvetica, sans-serif;

   border-bottom: 4px solid gray;
   background-color: black;
   width: 100%;
   height: 250px;
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding-top: 50px;

} 


.watch-text {
   display: flex;
   flex-direction: column;
   justify-content: left;

}
.watch h2 {
   color: white;
   text-align: left;
   width: 400;
   font-size: 34px;
   margin-bottom: 0;
}

.watch p {
   color: white;
   text-align: left;
   width: 400px;
   font-size: 24px;
}