 .list-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: auto;
      position: relative;
      z-index: 4;
      top: 0; 
      width: 100%;
      background-color: black;
 }

 .videos-page-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    color: white;
    font-family: Helvetica;
}

 .videos-page-links li {
    list-style: none;
    color: white;
    font-family: Helvetica;
    font-size: 12px;
    text-decoration: none;

    /* padding-right: 20px; */
 }

 .dropdown {
    margin-left: 0px;
    position:relative;
    display: block;
 }

 .fa-caret-down {
    /* background-color: #4CAF50; */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    /* margin-left: 400px; */
}

 .dropdown-content {
    top: 45px;
    display: none;
    position: absolute;
    right: 17px;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid wheat;

} 

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content li a {
    color: White;
    font-family: Helvetica;
    text-decoration: none;
    font-size: 13px;
    text-align: left;

}
.dropdown-content li a:hover {
    text-decoration: underline;

}

.dropdown-content li Link {
    color: White;
    font-family: Helvetica;
    text-decoration: none;
    font-size: 13px;
    padding-left: 50px;
    text-align: right;

}
.dropdown-content li Link:hover {
    text-decoration: none;
  

}
.fa-caret-down:hover .dropdown-content {
    display: block;
    background-color: black;
    opacity: 0.9;
    border: 1px solid rgb(214, 184, 127);

}



.video-fab {
    color: white;
    font-size: 18px;
    /* font-family: font; */
}

.search-input   {
    margin-left: 500px;
    margin-right: 0;
}


.movies {
    background: rgb(14, 11, 11);
    height: 200vh;
    width: 100vw;
}


.movie-vids-container {
    width: 98%; 
    margin-left: 1%;

}
.vsc-controller {
    display: none;
}
.movie-vids {
    width: 98%;
    margin-top: 20px;
    height: auto;
    padding-left: 1%;
}

.movie-vids video {
    background-color: black;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
}


.movie-vids-container h1 {
    margin-top: 100px;
    color: white;
    font-family: Helvetica;
    font-size: 24px;
    margin-left: 40px;
}

.single-vid-container-movie {
    background-color: black;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    width: fit-content;

}

.single-vid-container-movie video {
    object-fit: fill;
}