
.mylist {
    background: rgb(14, 11, 11);
    height: 1000px;
    width: 100vw;
}

.my-list-vids {
    width: 98%;
    margin-top: 20px;
    /* display: flex;
    justify-content: space-between; */
    /* overflow: none; */
    /* flex-wrap: wrap; */
    height: auto;
    padding: 5%;
}

.my-list-vids video {
    background-color: black;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
}

.my-list-container {
    display: flex;
    flex-direction: column;
}

.my-list-container h1 {
    margin-top: 100px;
    color: white;
    font-family: Helvetica;
    font-size: 24px;
    margin-left: 40px;
}
