.video {
    height: 2000px;
    width: 1300px;
    overflow: hidden;

    background: rgb(14, 11, 11);
}

.video-rows {
    position: absolute;
    width: 1300px;
    overflow: hidden;

    top: 150px;
    left: 10px;
}

.video-row {
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: auto;
    height: 250px;
    width: 1300px;
    overflow: scroll;
    
}

.single-vid-container {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    height: 150px;
    /* flex-wrap: wrap; */
    /* height: 125px; */
    width: 240px;
}



.single-vid {
    display: inline-flex;
    justify-content: center;
    justify-self: center;
    margin-left: 30px;
    /* top: 40px; */
    /* left: 0; */
    z-index: 1;
}

.single-vid:hover{
    transform: scale(1.75);
    position: relative;
    top: 40px;
    margin: 0 40px 0 40px;
    z-index: 2;
}


#hidden {
    display: none;
}

.vid-text {
    font-family: Helvetica;
    opacity: 0.9;
    top: 90px; 
    left: 20px; 
    color: white;
    position: absolute;
    z-index: 2;
}

.vid-text h3 {
    font-size: 18px;
}

.vid-text h4 {
    font-size: 14px;
}






.video h1 {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
} 

/* .video ul li {
    margin-top: 30px;
} */

