.video {
    height: 2000px;
    width: 1300px;
    /* overflow: hidden; */

    background: rgb(14, 11, 11);
}

.video-rows {
    position: relative;
    width: 1300px;
    display: flex;
    flex-direction: column;
    top: 150px;
    left: 10px;
    /* overflow: hidden; */
}

.video-row {
    /* position: absolute; */
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* margin: auto; */
    height: 250px;
    width: 1300px;
    /* overflow: hidden;  */
}

/* .single-vid-container {
    
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    /* height: 150px; */
    /* margin-right: 10px; */
    /* width: 240px; */
    /* overflow: hidden; */




.single-vid {
    display: inline-block;
    justify-content: center;
    justify-self: center;
    margin-left: 30px;
    position: relative;
    z-index: 1;
}

.single-vid:hover{
    transform: scale(1.75);
    position: relative;
    top: 20px;
    margin: 0 40px 0 40px;
    z-index: 2;
}


#hidden {
    display: none;
}

.vid-text {
    font-family: Helvetica;
    opacity: 0.9;
    top: 70px; 
    left: 20px; 
    color: white;
    position: absolute;
    /* z-index: 5; */
}

.vid-text h3 {
    font-size: 16px;
}

.vid-text h4 {
    font-size: 12px;
}







.video h1 {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
}  

.list-btn {
    font-size: 15px;
}

/* .video ul li {
    margin-top: 30px;
} */

